@font-face {
  font-family: 'digital-clock-font';
  src: url('https://fonts.cdnfonts.com/s/71615/alarm clock.woff');
}

#drum-machine {
  background-color: rgb(190, 180, 180);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#button-wrapper {
  display: grid;
  grid-template-columns: 30vh 30vh 30vh;
  grid-template-rows: 30vh 30vh 30vh;
  position: relative;
  top: 4vh;
  left: 2vw;
  width: 90vh;
  height: 90vh;
  background-color:darkslategrey;
}

button {
  position: relative;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  box-shadow: black 2px 2px;
  background-color: gray;
  color: black;
}

#display {
  display: block;
  position: absolute;
  right: 5vw;
  top: 10vh;
  width: 70vh;
  height: 25vh;
  font-size: 10vh;
  color:greenyellow;
  text-align: center;
  font-family: 'digital-clock-font';
  background-color: green;
  border: black solid 2vh;
}

#title {
  font-size: 5vh;
  color: maroon;
  position: relative;
  width: 45vw;
  left: 54vw;
  bottom: 90vh;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}